*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
	line-height: 1.5;
	font-family: system-ui, sans-serif;
}

button,
input {
	font-family: inherit;
}

body {
	/* space for fixed toolbar */
	margin: 3rem 1rem 0;
}

.monospace {
	font-family: monospace;
}

.split {
	display: flex;
	margin: 1rem 0;
	gap: 0;
	align-items: center;
}

.left,
.right {
	flex: 1;
	border: 1px solid;
	border-radius: 10px;
	padding: 0 0.5rem;
}

.right-arrow {
	width: 0;
	height: 0;
	border-top: 1rem solid transparent;
	border-bottom: 1rem solid transparent;
	border-left: 1rem solid;
}

ul {
	padding-left: 1em;
}
