*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
	line-height: 1.5;
	font-family: system-ui, sans-serif;
}

button,
input {
	font-family: inherit;
}

body {
	/* space for fixed toolbar */
	margin: 3rem 1rem 0;
}

.monospace {
	font-family: monospace;
}
