---
import Layout from '../layouts/Layout.astro'
import SomethingInteractive from '../components/something-interactive.svelte'
---
<Layout>
	<h1>High times</h1>
	<SomethingInteractive what="42" client:load />
</Layout>
